# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://uyoitxyyaxayrywppyhd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV5b2l0eHl5YXhheXJ5d3BweWhkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ5MTcxMjIsImV4cCI6MjA3MDQ5MzEyMn0.XW95_0AGDZbrJ4Z1MGfz01uEd1NxPo9ahpCJ_rEzJig

# Site URL (for production, Vercel will set this automatically)
NEXT_PUBLIC_SITE_URL=http://localhost:3000